.navbar{
    display: flex;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 65px;
    background-color: #000000;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.prof{
    width: 50px;
    float: right;
    border-radius: 50%;
}
.header{
    width: 90vw;
    background-color: #5c5c5c;
    display: flex;
    flex-direction: column;
}
.header-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 16px;
}

.sidebar{
    width: 90vw;
    height: 120vh;
    background-color: #616161;
    display: flex;
    flex-direction: column;
}
.main{
    width: 15%;
    height: 120vh;
    background-color: #000000;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column; 
}
.logoo {
    width: 150px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    margin-right: 0;
margin-left: 0;
}
.sec1{
    height: 80px;
    display: flex;
    flex-direction: column;
}
.sec2{
    height: 150px;
    display: flex;
    flex-direction: column;
}
.comp{
    height: 150px;
    display: flex;
    padding: 5px;
    flex-direction: column;
}
.bton{
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 30px;
}
#search {
    width: 400px;
    height: 38px;
    font-size: 18px;
    padding: 0 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background: #fff;
    color: #111;
    margin-right: 16px;
}
.otp-pg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 600px;
    background-color: #510bc3;
}

.otp-container {
    width: 400px;
    padding: 40px;
    background-color: #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otp-container h1 {
    color: #fff;
    margin-bottom: 20px;
}

.otp-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.otp-container input[type="text"] {
    height: 38px;
    font-size: 18px;
    padding: 0 16px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background: #fff;
    color: #111;
}

.otp-container button {
    border-radius: 16px;
  border: 1px solid #646cff;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.otp-container button:hover {
    background-color: #646cff ;
  border-color: #646cff;
  transition: background-color 0.25s, border-color 0.25s;
}

.otp-container p {
    color: #fff;
    margin-top: 15px;
}

.otp-container a {
    color: #fff;
    text-decoration: underline;
}

.otp-container a:hover {
    color: #ccc;
}

/* Error message style */
.error {
    color: #ff6b6b;
    margin-bottom: 10px;
}